.butt {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(45deg, rgb(253, 101, 101), rgb(250, 250, 100));
  text-decoration: none;
  color: rgb(192, 7, 7);
  border: 1px solid rgb(131, 129, 129);
  border-radius: 20px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin: 5px;
}
