.welcomeWindowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    height: 250px;
    position: absolute;
    left: 35%;
    top: 35%;
    border-radius: 30px;
    text-align: center;
    background-color: blanchedalmond;
}

.welcomeWindow {
    border: 3px dashed black;
    padding: 5px;
    width: 90%;
    height: 80%;
    border-radius: 30px;
}
