.welcomeWindows {
    text-align: center;
    background-color: blanchedalmond;
    border: 1px solid black;
    width: 500px;
    height: 250px;
    position: absolute;
    left: 35%;
    top: 35%;
}
