.welcomeWindowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 35%;
    top: 35%;
    border-radius: 30px;
    text-align: center;
    background-color: blanchedalmond;
    font-size: 0.90rem;
}

.welcomeWindow {
    border: 2px dashed rgb(131, 129, 129);
    padding: 5px;
    width: 90%;
    height: 80%;
    border-radius: 30px;
}
