.game {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    max-width: 95vh;
    min-height: 73vh;
    background-color: blanchedalmond;
    border-radius: 30px;
}

.textConteiner{
    margin: 5vh;
    padding: 5vh;
    max-height: 100%;
    overflow-y: auto;
}
